@import url("https://fonts.googleapis.com/css2?family=Alien+Block&family=Edu+VIC+WA+NT+Hand&display=swap");





/*----------{Header}----------*/


header{
    background-color: #FF8F00;
    display: flex;
    justify-content: space-between;
    top: 0px;
    align-items: center; /*Alinea los elementos al centro vertical*/
    top: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: sticky
    
    ;
}

header img{
    width: 10%;
    border-bottom-left-radius: 8px;
}

header li{
    list-style: none;
    
}

header li h1{
    height: 10px;
    width: 250px;
}

header nav{
    display: flex;
    justify-content: space-between;
}

.lista_encabezado{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 420px;
    margin-right: 32px;
    
}

.link_encabezado{
    background-color: #C62828;
    border-radius: 18%;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    
}




/*----------{Body}----------*/
body{
    background-color: #F5F5DC;
}




.caja{
    background-color: #F5F5DC;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    margin: 100px;
}

.tarjeta{
    background-color: #f3d050;
    width: 200px;
    border-radius: 14px;


}

.nombre{
    
    width: 80px;
}

.img_tarjeta{
    border-top-right-radius: 14px;
    border-top-left-radius: 14px;
    width: 90%;
    display: flex;
    justify-self: center;
    margin-top: 20px;
}

.txt_gratis_targeta{
    display: flex;
    justify-content: space-evenly;
    
}

.enviogratis_tarjeta{
    background-color: white;
    width: 35px;
    height: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-radius: 15%;
    padding: 3px;
    border: 2px solid;
}

.txt_tarjeta{
    margin-left: 5px;
    margin-right: 5px;
    width: 200px;
}

.quien h3{
    margin-left: 20px;
}

.como{
    display: flex;
}

.como_texto h3{
    margin-left: 20px;
}

.como_texto{
    width: 500px;
}


.como_imajen{
    width: 300px;
    margin-top: 50px;
    margin-left: 60px;
    border-radius: 20px;
}

/*----------{Footer}----------*/
footer{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: #FBC02D;
}

footer section{
    display: contents;
    justify-content: space-between;
}